<div class="container">
  <div class="jumbotron">
    <h1>Quote Mapping</h1>
    <p>Mapping quote of about Obama and public policy in Washington from 2008</p>
  </div>
</div>


<div class="container">
  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>

<% @quotes.each do |quote| %>
  <%= content_tag('pre', quote.content) %>
  <%= quote.neighborhood %> <br>
  <%= quote.theme %> <br>
  <%= quote.theme2 %> <br>
  <%= quote.language %> <br>
  <%= quote.date %> <br><br>
<% end %>

<%= javascript_tag do %>
var quotes = <%= @quotes.to_json.html_safe %>
//debugger
handler = Gmaps.build('Google');
var address = quotes[0].neighborhood + " Washington, DC";
var washDC = {lat: 38.8951, lng: -77.0367}
var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: washDC
  });

debugger
//for(var i = 0; i<quotes.length; i++) {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);

  if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);

            var infowindow = new google.maps.InfoWindow(
                { content: '<b>'+address+'</b>',
                  size: new google.maps.Size(150,50)
                });

            var marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map,
                title:address
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
//}
    //for(var i = 0; i<quotes.length; i++) {
      var infowindow = new google.maps.InfoWindow({
      content: quotes[0].content + "<br>Neighborhood:" + quotes[0].neighborhood + "<br>Theme:" +quotes[0].theme
      });
      var marker = new google.maps.Marker({
        position: washDC,
        map: map,
        title: 'DC Quotes Pop Up'
      });
      marker.addListener('mouseover', function() {
        //debugger
        infowindow.open(map, marker);
      });
    //}
    //handler.bounds.extendWith(markers);
//   google.maps.event.addListener(map, 'click', function( event ){
//   alert( "Latitude: "+event.latLng.lat()+" "+", longitude: "+event.latLng.lng() );
// });
//});
<% end %>