<div class="container">
  <div class="jumbotron">
    <h1>Quote Mapping</h1>
    <p>Mapping quote of about Obama and public policy in Washington from 2008</p>
  </div>
</div>


<div class="container">
  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>

<% @quotes.each do |quote| %>
  <%= content_tag('pre', quote.content) %>
  <%= quote.neighborhood %> <br>
  <%= quote.theme %> <br>
  <%= quote.theme2 %> <br>
  <%= quote.language %> <br>
  <%= quote.date %> <br><br>
<% end %>
<%= javascript_tag do %>
var quotes = <%= @quotes.to_json.html_safe %>
var quotesCount = quotes.length
debugger
handler = Gmaps.build('Google');
var washDC = {lat: 38.8951, lng: -77.0367}
var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: washDC
  });
//actual content goes here
// loop through db stuff
//

   var contentString = '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
    '<div id="bodyContent">'+
    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
    'sandstone rock formation in the southern part of the '+
    'Northern Territory' +
    '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
    'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
    '(last visited June 22, 2009).</p>'+
    '</div>'+
    '</div>';
    //for(var i = 0; i<quotesCount; i++) {
      var infowindow = new google.maps.InfoWindow({
      content: quotes[0].content + "<br>Neighborhood:" + quotes[0].neighborhood + "<br>Theme:" +quotes[0].theme
      });
      var marker = new google.maps.Marker({
        position: washDC,
        map: map,
        title: 'DC Quotes Pop Up'
      });
      marker.addListener('mouseover', function() {
        //debugger
        infowindow.open(map, marker);
      });
    //}
    //handler.bounds.extendWith(markers);
//   google.maps.event.addListener(map, 'click', function( event ){
//   alert( "Latitude: "+event.latLng.lat()+" "+", longitude: "+event.latLng.lng() );
// });
//});
<% end %>